<section class="wrapper bg-light">
  <div class="container py-14 py-md-17">
    <div class="row gx-lg-8 gx-xl-12 gy-12 align-items-center">
      <div class="col-lg-6 position-relative">
        <div class="btn btn-circle btn-primary pe-none position-absolute counter-wrapper flex-column d-none d-md-flex" style="top: 50%; left: 50%; transform: translate(-50%, -50%); width: 170px; height: 170px;">
          <h3 class="text-white mb-1 mt-n2"><span class="counter counter-lg">{{ page.about2.years_count | default: "10+" }}</span></h3>
          <p>{{ page.about2.years_label | default: "Anos de Pesquisa" }}</p>
        </div>
        <div class="row gx-md-5 gy-5 align-items-center">
          <div class="col-md-6">
            <div class="row gx-md-5 gy-5">
              <div class="col-md-10 offset-md-2">
                <figure class="rounded"><img src="{{ page.about2.image1 }}" srcset="{{ page.about2.image1_2x }} 2x" alt=""></figure>
              </div>
              <div class="col-md-12">
                <figure class="rounded"><img src="{{ page.about2.image2 }}" srcset="{{ page.about2.image2_2x }} 2x" alt=""></figure>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <figure class="rounded"><img src="{{ page.about2.image3 }}" srcset="{{ page.about2.image3_2x }} 2x" alt=""></figure>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /column -->
      <div class="col-lg-6">
        <img src="/assets/img/icons/lineal/{{ page.about2.icon }}.svg" class="svg-inject icon-svg icon-svg-md mb-4" alt="" />
        <h3 class="display-5 mb-5">{{ page.about2.title }}</h3>
        <p class="mb-7">{{ page.about2.text }}</p>
        <div class="row counter-wrapper gy-6">
          {% for stat in page.about2.stats %}
          <div class="col-md-4">
            <h3 class="counter text-primary">{{ stat.count }}</h3>
            <p>{{ stat.label }}</p>
          </div>
          {% endfor %}
        </div>
        <!-- /.row -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
