<section class="wrapper bg-light overflow-hidden" id="exposicoes">
  <div class="container pt-16 pt-md-18 pb-0">
    <div class="row mb-10">
      <div class="col-md-9 col-lg-7 col-xl-6 col-xxl-5 mx-auto text-center">
        <div class="counter-wrapper">
          <h3 class="fs-70 mb-3 text-primary text-center counter">{{ page.counter.number }}</h3>
        </div>
        <h2 class="display-2 mb-0 px-xxl-8">{{ page.counter.title }}</h2>
      </div>
    </div>
    <div class="text-center mb-6">
      <h2 class="fs-17 text-uppercase text-muted mb-0">{{ page.counter.subtitle }}</h2>
    </div>
  </div>
</section>
