<section class="wrapper bg-light">
  <div class="container py-14 py-md-17">
    <div class="row mb-3">
      <div class="col-md-10 col-xl-9 col-xxl-7 mx-auto text-center">
        {% if page.team3.subtitle %}<h2 class="fs-16 text-uppercase text-muted mb-3">{{ page.team3.subtitle }}</h2>{% endif %}
        <h3 class="display-4 mb-3 px-lg-10">{{ page.team3.title }}</h3>
        {% if page.team3.description %}<p class="lead fs-lg px-xl-8 mb-0">{{ page.team3.description }}</p>{% endif %}
      </div>
    </div>
    <div class="position-relative mt-10">
      <div class="shape rounded-circle bg-soft-yellow rellax w-16 h-16" data-rellax-speed="1" style="bottom: 0.5rem; right: -1.7rem;"></div>
      <div class="shape rounded-circle bg-line red rellax w-16 h-16" data-rellax-speed="1" style="top: 0.5rem; left: -1.7rem;"></div>
      <div class="swiper-container dots-closer mb-6" data-margin="0" data-dots="true" data-items-xxl="4" data-items-xl="3" data-items-lg="3" data-items-md="2" data-items-xs="1">
        <div class="swiper">
          <div class="swiper-wrapper">
            {% assign active_members = site.data.team_members.members | where_exp: "m", "m.active != false" %}
            {% for member in active_members %}
            <div class="swiper-slide">
              <div class="item-inner">
                <div class="card">
                  <div class="card-body">
                    <img class="rounded-circle w-15 mb-4" src="{{ member.avatar_image }}" srcset="{{ member.avatar_image2x }} 2x" alt="{{ member.name }}" />
                    <h4 class="mb-1">{{ member.name }}</h4>
                    <div class="meta mb-2">{{ member.role }}</div>
                    <p class="mb-2">{{ member.bio }}</p>
                    <nav class="nav social mb-0">
                      {% for social in member.social %}
                      <a href="{{ social.url }}"><i class="{{ social.icon }}"></i></a>
                      {% endfor %}
                    </nav>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
