<section class="wrapper bg-gradient-reverse-primary">
  <div class="container pt-xl-10 text-center">
    <div class="row">
      <div class="col-md-10 col-lg-9 col-xl-8 col-xxl-7 mx-auto">
        <img src="/assets/img/demos/icon.webp" srcset="/assets/img/demos/icon@2x.webp 2x" alt="">
        <h2 class="display-3 mt-3 mb-3 px-lg-8">Pesquise, preserve e compartilhe a cultura de internet.</h2>
        <p class="lead fs-lg mb-6">Tudo que você precisa para explorar o universo dos memes — acervo digital, pesquisa aplicada e formação em memética.</p>
        <a href="/museudememes/acervo/" class="btn btn-lg btn-primary rounded-pill mb-10">Conheça o Acervo</a>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <img class="img-fluid" src="/assets/img/demos/f1.webp" srcset="/assets/img/demos/f1@2x.webp 2x" data-cue="fadeIn" alt="">
  </div>
  <!-- /.container -->
</section>
