<div class="widget">
  <h4 class="widget-title mb-3">Ano de Origem</h4>
  {% assign ano_values = "" | split: "" %}
  {% for post in site.memes %}
    {% if post.ano_origem %}
      {% unless ano_values contains post.ano_origem %}
        {% assign ano_values = ano_values | push: post.ano_origem %}
      {% endunless %}
    {% endif %}
  {% endfor %}
  {% assign ano_values = ano_values | sort | reverse %}
  {% if ano_values.size > 0 %}
  <ul class="unordered-list bullet-primary text-reset">
    {% for val in ano_values %}
    <li><a href="/museudememes/acervo/ano-origem/{{ val | slugify }}/">{{ val }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p class="text-muted small">Nenhum ano de origem cadastrado.</p>
  {% endif %}
</div>
