<section class="wrapper bg-soft-primary">
  <div class="container pt-14 pt-md-16 pb-14 pb-md-18">
    <div class="row gx-md-8 gx-xl-12 gy-12 align-items-center">
      <div class="col-md-8 col-lg-6 col-xl-5 order-lg-2 mx-auto">
        <figure class="rounded">
          <img src="{{ page.hero14.image }}" srcset="{{ page.hero14.image2x }} 2x" alt="" />
        </figure>
      </div>
      <!-- /column -->
      <div class="col-lg-6">
        <h1 class="display-2 ls-sm mb-4">{{ page.hero14.title }}</h1>
        <p class="lead fs-lg lh-sm mb-7">{{ page.hero14.subtitle }}</p>
        <a href="{{ page.hero14.button.url }}" class="{{ page.hero14.button.class }}">{{ page.hero14.button.label }}</a>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
